html {
    /*Come back to this*/
    background-color: white;
}

/*body {*/
    /*padding-right: 30px;*/
    /*padding-left: 80px;*/
/*}*/

h1 { color: #111;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 100px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
    margin: 0 0 42px;
    text-align: center; }

h2 { color: #111;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: 300;
    line-height: 32px;
    margin: 0 0 72px;
    text-align: center; }

#menu {
    text-align: center;
}

ul {
    display: inline-block;
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
    display:inline;
}

li a {
    font-family: 'Helvetica Neue';
    display:inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
